@import './variables.module.scss';

@font-face {
    font-family: 'NotoSansTC';
    src: url(../fonts/NotoSansTC-Bold.otf) format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSansTC';
    src: url(../fonts/NotoSansTC-Medium.otf) format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSansTC';
    src: url(../fonts/NotoSansTC-Regular.otf) format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSansTC';
    src: url(../fonts/NotoSansTC-Light.otf) format('opentype');
    font-weight: 300;
    font-style: normal;
}

html {
    font-family: 'NotoSansTC';
    letter-spacing: 0.2em;
}

body {
    margin: 0;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    scroll-behavior: smooth;

    * {
        box-sizing: border-box;
    }
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

// ::-webkit-scrollbar {
//     display: none;
// }

a,
button {
    cursor: pointer;
}

.inner {
    width: 100%;
    height: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.confirm-dialog {
    .MuiDialog-paper {
        width: 95vw;
        max-width: 830px;
        border-radius: 35px;
        padding: 14px 30px;

        .MuiDialogContentText-root {
            font-family: 'NotoSansTC';
            font-size: 20px;
            font-weight: 300;
            line-height: 30px;
            text-align: center;
            letter-spacing: 0.2em;
            color: $dark-grey;
            padding: 60px 0;
        }

        .MuiDialogActions-root {
            padding: 0;
        }
    }
}

#pdf-ani-svg {
    #cut > rect {
        width: 126px;
        height: 127px;
        animation: fillCut 1s ease-in infinite;
    }
}

@keyframes fillCut {
    0% {
        height: 127px;
    }

    100% {
        height: 0;
    }
}