$primary: #F9B471;
$secondary: #51A8BC;
$tertiary: #BDE8F9;

$light-grey: #F9F8F6;
$mid-grey: #EEEDE8;
$dark-grey: #A5A39C;
$disabled: #E2E1DD;

$light-main: #FFFAF4;

$white: #FFFFFF;
$dark: #4D4C52;