@import '../variables.module.scss';

.navigation {
    width: 100vw;
    height: 60px;
    background-color: $light-main;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 99;

    .navigation-left {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $dark;

        .path-line {
            font-size: 24px;
            margin: 0 4px 0 10px;
        }

        .path-name {
            font-size: 16px;
            line-height: 24px;
            font-weight: 300;
        }
    }

    img {
        cursor: pointer;
    }

    button {
        margin: 0 15px;

        &:last-of-type {
            margin: 0 0 0 15px;
        }

    }
}